body {
    font-family: "Poppins", sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
}


.layout_padding {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  
  .layout_padding2 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  
  .layout_padding2-top {
    padding-top: 45px;
  }
  
  .layout_padding2-bottom {
    padding-bottom: 45px;
  }
  
  .layout_padding-top {
    padding-top: 90px;
  }
  
  .layout_padding-bottom {
    padding-bottom: 90px;
  }

  .heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  
  .heading_container h2 {
    position: relative;
    font-weight: bold;
    margin-right: 10px;
    font-size: 40px;
  }
  
  .heading_container img {
    width: 30px;
  }

  .hero_area {
    height: 98vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f0f0e8;
  }
  
  .sub_page .hero_area {
    height: auto;
  }
  
  .header_section .container {
    padding: 0;
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }
  
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 7px 20px;
    margin: 10px 15px;
    color: #000000;
    text-align: center;
    border-radius: 35px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all ease 200ms;
  }
  
  .custom_nav-container .navbar-nav .nav-item.active .nav-link, .custom_nav-container .navbar-nav .nav-item:hover .nav-link {
    background-color: #eab070;
    color: #ffffff;
    transition: all ease 200ms;
    font-weight: bold;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
  }
  
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .navbar-brand img {
    margin-right: 5px;
    width: 35px;
  }
  
  .navbar-brand span {
    font-size: 22px;
    font-weight: 700;
    color: #195e63;
  }
  
  .custom_nav-container {
    z-index: 99999;
  }
  
  .navbar-expand-lg .navbar-collapse {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
  }
  
  .custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #190734;
    margin: 7px 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 0;
    margin-bottom: -4px;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
    display: none;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 0;
    margin-top: -4px;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
  .custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
  .custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
    -webkit-transform: none;
            transform: none;
  }

  .infoSection{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #195e63;
  }

.infoSection h1{
  font-weight: bold;
  font-size: 100px;
  margin-bottom: 2%;
  color: #eab070;
}

.roww{
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.row_object{
  max-width: 500px;
  max-height: 500px;
  height: fit-content;
  position: relative;
  /* margin-right: 20%; */
}
.row_object img:hover{
  border: #eab070;
  border-width: 2px;
}

.row_object img{
  height: 40vh;
  border-radius: 10px;
}
.containerr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  }


.infoSection p{
  margin-bottom: 8%;
  color: #eab070;
  font-weight: bold;
}

@media (max-width: 1100px) {
  .containerr .roww{
    flex-direction: column;
  }
  .row_object{
    margin-bottom: 20px;
  }

  .row_object img{
    max-width: 250px;
    max-height: 250px;
  }
  .infoSection h1, p{
    font-size: 50px;
    margin-top: 30%;
    visibility: hidden;
  }
  .infoSection{
    overflow-y: scroll;
  }
}